<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:insert="~{fragment :: head}"></th:block>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css}">
    <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}"></script>
    <script th:src="@{/js/jqueryui-search-city.js}"></script>
</head>
<body>
<header th:insert="~{fragment :: header}"></header>
<div class="container main-content">
    <div class="container main-content">
        <ol class="breadcrumb list-group-item-dark rounded">
            <li class="breadcrumb-item"><a href="/">[[#{home.pageTitle}]]</a></li>
            <li class="breadcrumb-item active"><a href="/user/personal">[[#{personal.pageTitle}]]</a></li>
        </ol>
        <h1>[[#{personal.edit.password}]]</h1>
        <form class="form-floating" th:method="PUT" th:action="@{/user/editPassword}" th:object="${dto}">
            <p>[[#{personal.edit.password.allFieldsRequired}]]</p>
            <div class="mb-3">
                <label for="oldPassword">[[#{personal.edit.password.check}]]</label>
                <input required name="oldPassword" type="password" class="form-control" id="oldPassword"/>
                <div th:if="${#fields.hasErrors('oldPassword')}" class="alert alert-danger"
                     th:errors="*{oldPassword}"></div>
            </div>
            <div class="mb-3">
                <label for="password">[[#{personal.edit.password.new}]]</label>
                <input required name="newPassword" type="password" class="form-control" id="password"/>
                <div th:if="${#fields.hasErrors('newPassword')}" class="alert alert-danger" th:errors="*{newPassword}"></div>
            </div>
            <div class="mb-3">
                <label for="confirmPassword">[[#{personal.edit.password.confirmPassword}]]</label>
                <input required name="newPasswordConfirm" type="password" class="form-control" id="confirmPassword"/>
                <div th:if="${#fields.hasErrors('newPasswordConfirm')}" class="alert alert-danger"
                     th:errors="*{newPasswordConfirm}"></div>
            </div>
            <button type="submit" class="btn btn-primary">[[#{personal.edit.data.submit}]]</button>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').submit(function () {
                $(':submit', this).attr('disabled', 'disabled');
            });
        });
    </script>
</div>

</body>
</html>